<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs591.mooncake">

    <!-- allow access to Internet-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- allow access the user's location permission-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- allow external storage permission, if you app was built in a version higher than 8.3,
    you don't have to include the code below-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:hardwareAccelerated="false"
        android:largeHeap="true"

        >

        <!-- specify your API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBrtLGpCO6oHuvcoCCrtRBAqQ1jBhhYeRI"/>

        <!-- specify the Google Play services version number -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".explore.EventActivity"></activity>
        <activity android:name=".profile.AboutPage"></activity>
        <activity android:name=".profile.WebsitePage"></activity>
        <activity android:name=".profile.InvitePage"></activity>
        <activity android:name=".profile.FeedbackPage"></activity>
        <activity android:name=".profile.TicketPage"></activity>
        <activity android:name=".map.ShowInfo"></activity>



    </application>

</manifest>